<!DOCTYPE html>
<html>
    <head>
        <title>{{session_id}}</title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        Welcome {{session_id}}<br>
        <form method="post" action="{% url 'books' %}">
            {% csrf_token %}
            <input type="search" name="searched" placeholder="search book">
            <button type="submit">Search</button>
        </form><br>
        <form method="post" action="{% url 'addbook' %}">
            {% csrf_token %}
            Add more Books - <br/>
            Book Name :
            <input type="text" name="name">
            Copies :
            <input type="number" name="stock"><br/>
            <button type="submit" value="{{session_id}}" name="session_id">Add Book</button>
        </form><br>
        <form method="post" action="{% url 'book_sign' %}">
            {% csrf_token %}
            <button type="submit" value="{{session_id}}" name="session_id">Register New Book </button>
        </form><br>
        <form method="post" action="{% url 'reqs' %}">
            {% csrf_token %}
            <button type="submit" value="{{session_id}}" name="session_id">Requests </button>
        </form><br>
        <form method="post" action="{% url 'users' %}">
            {% csrf_token %}
            <button type="submit" value="active" name="status">Active Users</button>
            <button type="submit" value="inactive" name="status">Inctive Users</button>
        </form><br>
        <form method="post" action="{% url 'librarians' %}">
            {% csrf_token %}
            <button type="submit" value="{{session_id}}" name="session_id">Librarians List</button>
        </form><br>
        <button type="button" onclick="location.href='{% url 'newlib' %}'">New Librarian</button>
    </body>
</html>