{% if message %}
<script>
    alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>Detailed_Requests</title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        {{name}}<br>Author - {{aname}}<br>Publisher - {{pname}}<br>Total Requests - {{reques}}<br><br>
        <ol>
            {% for nname in nnames %}
            <li>{{nname}} 
                <form method="post" action="{% url 'accept' %}">
                    {% csrf_token %} 
                    <button type="submit" value="{{nname}}" name="name">Accept</button>
                </form>
                <form method="post" action="{% url 'reject' %}">
                    {% csrf_token %} 
                    <button type="submit" value="{{nname}}" name="name">Reject</button>
                </form>
            </li>
            {% endfor %}
        </ol>
    </body>
</html>