{% if message %}
<script>
    alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>Inctive users</title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% if users %}
        {% for user in users %}
        <form method="post" action="{% url 'user_profile' %}">
            {% csrf_token %}
            <input type="submit" value="{{user}}" name="user">
        </form>
        {% endfor %}
        {% else %}
        <h1>No users are inactive</h1>
        {% endif %}
    </body>
</html>