{% if message %}
<script>
    alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>Librarians</title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% for librarian in librarians %}
        <form method="post" action="{% url 'librarian_profile' %}">
            {% csrf_token %}
            <input type="submit" value="{{librarian}}" name="librarian">
        </form>
        {% endfor %}
    </body>
</html>