{% if message %}
<script>
    alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>Add Librarian</title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form action="{% url 'new_librarian' %}" method="post">
            {% csrf_token %}
            Name :
            <input type="text" name="name">
            Email :
            <input type="email" name="email">
            Password :
            <input type="password" name="pass"><br><br>
            <h4>Select Roles - </h4>
            Can add Book :
            <input type="checkbox" name="book"><br>
            Can register new Book :
            <input type="checkbox" name="newbook"><br>
            Can accept/reject Requests :
            <input type="checkbox" name="respond"><br><br>
            <input type="submit" value="Add Librarian">
        </form>
    </body>
</html>