{% if message %}
<script>
    alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        {{name}}<br/>
        {{email}}<br/><br/>
        {% if book1 %}
        Books borrowed - <br/>
        <ol>
            <li>
                {{book1}}(Due Date - {{book1_d}})
                <form method="post" action="{% url 'book1' %}">
                    {% csrf_token %}
                    <button type="submit" value="{{name}}" name="name">Return</button><br/>
                </form>
            </li>
            {% if book2 %}
            <br>
            <li>
                {{book2}}(Due Date - {{book2_d}})
                <form method="post" action="{% url 'book2' %}">
                    {% csrf_token %}
                    <button type="submit" value="{{name}}" name="name">Return</button><br/>
                </form>
            </li>
            {% endif %}
        </ol>
        {% else %}
        No books borrowed
        {% endif %}<br/><br/>
        {% if reques_book %}
        Request pending - 
        {{reques_book}}
        {% else %}
        {% if req_stat %}
        {{req_stat}}
        {% else %}
        No Request made
        {% endif %}
        {% endif %}
    </body>
</html>