<!DOCTYPE html>
<html>
    <head>
        <title>Requests</title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% if reques %}
        Pending Requests - <br><br>
        {% for req in reques %}
        <form method="post" action="/detailed_requests/">
            {% csrf_token %}
            <input type="submit" value="{{req}}" name="book">
        </form>
        {% endfor %}
        {% else %}
        No Requests are pending
        {% endif %}
    </body>
</html>