{% if message %}
<script>
    alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>SignUp</title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form action="/postsignup/" method="post">
            {% csrf_token %}
            User ID :
            <input type="text" name="name">
            Email :
            <input type="email" name="email">
            Password :
            <input type="password" name="pass"><br>
            <input type="submit" value="SignUp"><br><br>
            <button type="button" onclick="location.href='{% url 'log' %}'">Login</button>
            <button type="button" onclick="location.href='{% url 'home' %}'">Home</button>
        </form>
    </body>
</html>