{% if message %}
<script>
    alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% if status %}
        Welcome {{session_id}}
        <button type="button" onclick="location.href='{% url 'log' %}'">Logout</button><br><br>
        <form method="post" action="{% url 'books' %}">
            {% csrf_token %}
            <input type="search" name="searched" placeholder="search book">
            <button type="submit">Search</button>
        </form><br>
        <form method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <button type="submit"  value="{{session_id}}" name="session_id">Profile</button>
        </form><br>
        <form method="post" action="{% url 'borrow' %}">
            {% csrf_token %}
            <input type="search" name="searched">
            <button type="submit" value="{{session_id}}" name="session_id">Request Borrow</button>
        </form>
        {% else %}
        <h1>Your account has been inactive</h1><br>
        <h2>Contact Admin to activate</h2>
        {% endif %}
    </body>
</html>